*{
    list-style: none;
}
.card{
    width: 22rem;
    display: inline-block;
}
.img-part{
    position: relative;
}
.badge,.far,.price{
    position: absolute;
}
img{
    height: 230px;
}
.km,.litre,.year{
    display: inline-block;
}
.aa{
    display: flex;
    justify-content: space-around;
}
.container{
    margin-top: 100px;
}
.ul,.ul2{
    display: inline-block;
}
table{
    height: 35px;
}
.aa{
    font-size: 15px;
    font-weight: bold;
}
.container{
    margin: auto;
    margin-top: 100px;
}
.table td{
    padding: 0.5rem;
}
#credit,th,td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.price{
    background-color: red;
}